<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple AI Chat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <style>
      body {
        background-color: #212529;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <div class="container py-5">
      <h1 class="display-4 text-center mb-5">Simple AI Chat</h1>
      <hr>
      <h2>A tener en cuenta:</h2>
      <br>
      <p>Servidores que usa se apagan sin uso, si te tira error volvé para atrás, esperá 10 seg. y probá de nuevo</p>
      <br>
      <p>La API con la que se comunica no tiene paginación, las respuestas generadas son demasiado cortas</p>
      <button type="button" class="btn btn-info" style="margin-left: 96%" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <strong>?</strong>
      </button>
      <br>
      <hr>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-theme="dark">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">A tener en cuenta</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Esta aplicación está integrada con versiones gratis de modelos de lenguaje, por ende su funcionalidad es limitada en aspectoso como:
              <br>
              <ul>
                <li>No mantiene contexto de la conversación ni tiene memoria, no me tomé el tiempo de implementarla porque la misma varía en cada uno de los modelos 🤷‍♂️️</li>
                <li>No varía mucho en cuanto a las respuestas y deliran bastante</li>
                <li>Es lenta en generar la respuesta, los servidores a veces tardan unos segundos en prenderse, si no anda a la primera esperá 5-10 seg. y probá de nuevo</li>
              </ul>
              <br>
              En conclusión el ambiente de LLM (Modelos Grandes de Lenguaje) en español todavía está muy fresco, encontré como 6 pero son muy específicos y no aplicables a esta aplicación, incluso estos deliran muchísimo, lejos de ser funcional por lo menos en español.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="container mx-auto">
          <form action="/talktobloom" method="POST">
            <div class="form-group">
              <label for="textInput">Entrada</label>
              <br>
              <input
                type="text"
                class="form-control"
                id="text"
                name="text"
                placeholder="Escribí acá"
              />
              <br>
              <select class="form-select" aria-label="Default select example" id="model" name="model">
                <option selected>Elegí el modelo con el que querés hablar</option>
                <option value="https://api-inference.huggingface.co/models/emre/spanish-dialoGPT">Dialog GPT</option>
                <option value="https://api-inference.huggingface.co/models/mistralai/Mistral-7B-Instruct-v0.2">Mistral instructor</option>
              </select>
            </div>
<br>        
            <button type="submit" class="btn btn-success btn-block">
              Enviar
            </button>
          </form>
        </div>
      </div>
    </div>

    <div id="chatOutput">
      <span markdown="1">
        <pre
          markdown="1"
          style="
            color: white;
            height: auto;
            width: 100vw;
            overflow: none;
            text-wrap: wrap;
            padding: 2rem;
          "
        >
{{ answer }}</pre
        >
      </span
      
    </div>
  </body>
</html>
<script type="module" src="{{ url_for('static', filename='js/index.js') }}">  
</script>
<script>
    const myModal = new bootstrap.Modal('#exampleModal', {
    keyboard: false
  })
</script>




